@page "/Admin_subject"
@using DataBase.DTOs
@using DataBase.Models
@using global::Data.DTOs
@layout AdminLayout
@inject IJSRuntime jsruntime
@inject HttpClient client
<div class="container-fluid mt-3">
    <div class="border rounded shadow p-3">

        <div class="row mb-3">
            <div class="col-5">
                <h5 class="text-start text-primary">Tìm kiếm danh sách môn học</h5>
            </div>
        </div>

        <!-- Form tìm kiếm -->
        <div class="row justify-content-center align-items-center">
            <!-- Dropdown Khối -->
            <div class="col-5 col-md-3 mx-1">
                <div class="form-group">
                    <select class="form-select" @onchange="@(e => GetAllClass(Guid.Parse(e.Value.ToString())))">
                        <option value="0" style="display:none">Chọn khối...</option>
                        @foreach (var itemGrade in grades.OrderBy(a => a.Name))
                        {
                            <option value="@itemGrade.Id">Khối @itemGrade.Name</option>
                        }
                    </select>
                </div>
            </div>

            <!-- Dropdown Lớp -->
            <div class="col-5 col-md-3 mx-1">
                <div class="form-group">
                    <select class="form-select" @onchange="OnClassChanged">
                        <option value="0" style="display:none">Chọn lớp...</option>
                        @foreach (var itemClass in classes.OrderBy(a => a.Name))
                        {
                            <option value="@itemClass.Id"
                            selected="@(itemClass.Id == selectidclass ? "selected" : null)">
                                Lớp @itemClass.Name
                            </option>
                        }
                    </select>
                </div>
            </div>

            <!-- Nút Tìm kiếm -->
            <div class="col-2 d-flex justify-content-center p-1">
                <button class="btn btn-primary" @onclick="() => getallsubject(selectidclass)">Tìm kiếm</button>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <!-- Bên trái: Danh sách môn học -->
    <div class="col-9">
        <div class="container-fluid mt-3  min-vh-100">
            <table class="table table-bordered table-hover">
                <thead >
                    <tr>
                        <th colspan="8" class="bg-primary-subtle bg-opacity-75" style="height:15px">
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- Phần tìm kiếm -->
                                <div style="width: 250px;">
                                    <div class="input-group">
                                        <input type="text" placeholder="Tìm kiếm..." class="form-control border" @bind="SearchText" />
                                        <span class="input-group-text bg-light border">
                                            <i class="bi bi-search text-muted"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>

                <thead>
                    <tr>
                        <th style="width: 10%;">STT</th>
                        <th style="width: 25%;">Tên môn</th>
                        <th style="width: 10%;">Mã code</th>
                        <th style="width: 15%;">Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Hàng danh sách dữ liệu -->
                    @if (FilteredUserstudent != null && FilteredUserstudent.Any())
                    {
                        @foreach (var item in FilteredUserstudent.OrderBy(c => c.Name))
                        {
                            <tr class="align-content-center" @onclick="()=>GetTeacher(item.Id)">
                                <td>@(FilteredUserstudent.IndexOf(item)+1)</td>
                                <td>@item.Name</td>
                                <td>@item.Code</td>
                                <td>@item.Status</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8" class="text-center text-danger">Không có dữ liệu.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Bên phải: Danh sách giáo viên -->
    <div class="col-3">
        <div class="container-fluid mt-3 border bg-light rounded min-vh-100">
            <div class="d-flex justify-content-between align-items-center mb-3 p-3">
                <h5 class="text-success fw-bold">Danh sách giáo viên</h5>
            </div>
            <table class="table table-borderless rounded">
                <tbody>
                    @if(editsubject){
                        <tr>
                            <select class="form-select" @bind="teacher_Subject.idteacher">
                                <option value="@teacher_Subject.Id">@teacher_Subject.Name"</option>
                                @foreach(var teacher in teacherDTOs){
                                    <option value="@teacher.Id">@teacher.Name</option>
                                }
                            </select>
                        </tr>
                    }else{
                        @if (teacherDTOss != null && teacherDTOss.Any())
                        {
                            <!-- Danh sách giáo viên -->
                            @foreach (var teacher in teacherDTOss.OrderBy(t => t.Name))
                            {
                                <tr>
                                    <td>@teacher.Name</td>
                                    <td class="text-end">
                                        <button class="btn btn-danger btn-sm" @onclick="()=>showedit(teacher.Id)">Chỉnh sửa</button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="2" class="text-center text-danger">Không có dữ liệu.</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    private bool showfaceid = false;
    private Guid idstudent;
    private void showdata(Guid id)
    {
        idstudent = id;
        showfaceid = true;
    }
    private void closefaceid()
    {
        showfaceid = false;
    }

    private async Task showedit(Guid id){
        await getidsbj(id);
        jsruntime.InvokeVoidAsync("alert", $"{teacher_Subject.Id}");
        editsubject = true;
      
    }



}
@code {
    private bool editsubject= false;
    private Guid newGradeName = Guid.Empty;
    private Grades gradescreate = new Grades();
    private Guid selectidgrade;
    private Guid selectidclass;
    private Guid? TaskIdToEdit = null;
    private Guid? EditClass = null;
    private subject_teacherDTO teacher_Subject = new subject_teacherDTO();
    private void OnInputChanged(string? value)
    {
        if (int.TryParse(value, out var parsedValue))
        {
            gradescreate.Name = parsedValue;

            StateHasChanged();
        }
    }
    private void OnInputChangeds(ChangeEventArgs e)
    {

        var inputValue = e.Value?.ToString();

        StateHasChanged();
    }
    private void OnClassChanged(ChangeEventArgs e)
    {
        if (Guid.TryParse(e.Value?.ToString(), out var parsedId))
        {
            selectidclass = parsedId;

        }
    }
    private List<TeacherDTO> teacherDTOs = new List<TeacherDTO>();
    private List<TeacherDTO> teacherDTOss = new List<TeacherDTO>();
  
    private List<Grades> grades = new List<Grades>();
    private List<Classes> classes = new List<Classes>();
    private List<Subjects> subjects = new List<Subjects>();
    private List<Subjects> FilteredUserstudent => string.IsNullOrEmpty(SearchText)
     ? subjects
     : subjects.Where(o => o.Name.ToString().Contains(SearchText))
              .ToList();
    protected override async Task OnInitializedAsync()
    {
        await GetAllGrade();
        await Getallteacher();
    }
    private async Task getidsbj(Guid id){
        teacher_Subject = await client.GetFromJsonAsync<subject_teacherDTO>($"https://localhost:7046/api/Subject/get-by-id-teach-subj?id={id}");
    }
    private async Task Getallteacher()
    {
        teacherDTOs = await client.GetFromJsonAsync<List<TeacherDTO>>("https://localhost:7046/api/Teacher/get-all-teacher-all");
    }
    private async Task GetTeacher(Guid id){
        teacherDTOss = await client.GetFromJsonAsync<List<TeacherDTO>>($"https://localhost:7046/api/Classes/Listteachersubj?idsbj={id}");
    }
    private async Task GetAllClass(Guid id)
    {
        classes = await client.GetFromJsonAsync<List<Classes>>($"https://localhost:7046/api/Classes/Get-Grade-Class?gradeId={id}");
        if (classes.Any())
        {
            selectidclass = classes.OrderBy(x => x.Name).First().Id;
        }
        else
        {
            selectidclass = Guid.Empty;
        }

    }
    private async Task GetAllGrade()
    {
        grades = await client.GetFromJsonAsync<List<Grades>>("https://localhost:7046/api/Grade/get-grade");
    }
    private async Task getallsubject(Guid id)
    {
        subjects = await client.GetFromJsonAsync<List<Subjects>>($"https://localhost:7046/api/Classes/ListSubjectFor?IdClass={id}");

    }
    private string SearchText { get; set; }

}


